* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: grey;
}

.top-navbar {
    background-color: white;
    position: sticky;
    display: flex;
    padding: 10px;
    align-items: center;
    top: 0;
    z-index: 1000;
    justify-content: space-between;
    
}

.top-navbar .left-section {
    justify-content: flex-start;
   
}

.top-navbar .left-section ul {
    display: flex;
    list-style: none;
    padding: 5px;
    
}

.top-navbar .left-section ul li {
    margin-left: 10px;
}

.top-navbar .left-section ul li a{
    color: #080000;
    text-decoration: none;
    padding: 5px 5px;
    border-radius: 15px;
}

.top-navbar .left-section ul li a:hover{
    background-color: #f2f2f2;
    color:#0a0000;
}


/* Navbar Right Section*/
.top-navbar .right-section {
    display: flex;
    align-items: center;
    
    justify-content: flex-end;
    position: absolute;
    right: 10px;

}

.top-navbar input[type="text"] {
    padding: 5px;
    border-radius: 15px;
    margin-right: 10px;
    width: 250px;
    border: solid blue;

}

.top-navbar .right-section a {
    margin-left: 10px;
}

.top-navbar img {

    width: 20px;
    height: 20px;
    margin-right: 10px;
}

/* Side Navbar */
.side-navbar {
    background-color: #f4f4f4;
    width: 200px;
    position:fixed;
    float: left;
    height: 100vh;
    border-right: 1px solid #ddd;
}

.user-profile{
    text-align: center;
    padding: 20px;
}

.user-profile img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.side-navbar ul{
    list-style-type: none;
}

.side-navbar li{
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.side-navbar li:last-child {
    border-bottom: none;
}
.side-navbar li a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color:#080000;
    font-weight: bold;
}

.side-navbar li img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}



/* Body Content */
.container {
    margin-left: 220px;
    padding: 20px;
}
.row{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.card{
    background-color: #f0f0f0;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 15px;
    text-align: center;
    width: 280px;
}

.card .content{
    font-size: 16px;
}

.card .content p{
    margin-bottom: 10px;
}

.graph-container{
    margin-top: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow:0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 30px;
    height: 300px;
    width: 600px;
}

/*  Footer */
.footer {
    background-color: white;
    text-align: center;
    position: fixed;
    width: 100%;
    padding: 10px;
    bottom: 0;
}