
*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: grey;
}

.top-navbar{
    background-color: white;
    padding: 10px;
}

.side-navbar{
    background-color:#0e33eb;
    width: 200px;
    float: left;
    height: 100vh;
}

.body-content{
    margin-left: 220px;
    padding: 20px;
}

.footer{
    background-color: white;
    text-align: center;
    position: fixed;
    width: 100%;
    padding: 10px;
    bottom: 0;
}